.banner{
    margin-top: 30px;
    width: 100%;
    background-color: red;
    position: relative;
    
  }
  
  .banner-img{
    width: 100%;
    height: 350px;
  }
  
  .banner-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .shadow{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .banner-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    max-width: 1024px;
    text-align: center;
    
    color: whitesmoke;
  }
  
  .banner-content h2{
    font-size: 65px;
    font-weight: 400;
  }
  
  .banner-content p{
    margin-top: 5px;
    font-size: 25px;
    line-height: 1;
  }
  
  .contact{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    align-items: center;
  }
  
  .banner-btn{
    padding: 10px 20px;
    border: none;
    
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
    border-radius: 60px;
    cursor: pointer;
    border: 1px solid red;
    border-spacing: 25px;
    border-spacing: 5%;
    outline-offset: 2px;
  }